$primary-color: #f2921d;
$white-color: #fff;
$secondary-color: #fffae7;

* {
	margin: 0;
	padding: 0.5rem;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	background-color: $white-color;
}

////////////////////////
/// Hero Section ///

.hero {
	color: #000;
	position: relative;
	&__mobile-container {
		position: fixed;
		right: 1rem;
		top: 10rem;
		max-width: 3rem;
		margin: auto;
		background-color: transparent;
		height: 15rem;
		color: white;
		border-radius: 50px;
		z-index: 100;
		border: 2px solid $primary-color;
		display: none;
	}

	&__mobile-list {
		display: flex;
		flex-direction: column;
		list-style: none;
		align-items: center;
		// justify-content: space-between;
	}

	&__mobile-link {
		text-decoration: none;
		// font-size: 0.5rem;
		color: #000;
		// font-weight: 500;
	}

	&__mobile-icon {
		width: 2rem;
		height: 2rem;
		transition: all 0.2s;
	}
	&__mobile-navham {
		width: 5rem;
		height: 5rem;
		transition: all 0.2s;
		display: block;
		position: fixed;
		top: 1.5rem;
		right: 1rem;
		fill: gray;
		z-index: 10;
	}

	&__mobile-icon:hover {
		transform: scale(1.5);
		fill: $primary-color;
	}
	&__mobile-navham:hover {
		fill: $primary-color;
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0rem;
	}

	&__navigation-logo {
		font-size: 2.5rem;
		font-weight: 900;
		border-bottom: 2px solid $primary-color;
		border-radius: 100%;
	}
	&__navigation-list {
		display: flex;
		list-style: none;
		margin-right: 3rem;
	}

	&__navigation-item {
		position: relative;
	}

	&__navigation-item::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 3px;
		height: 3px;
		background-color: $primary-color;
		z-index: 10;
		transform: scaleY(0);
		transition: transform 0.2s, width 0.4s;
	}

	&__navigation-item:hover::after {
		transform: scaleY(1);
		width: 100%;
	}

	&__navigation-link {
		text-decoration: none;
		font-size: 1.5rem;
		color: #000;
		font-weight: 500;
	}

	@media (max-width: 768px) {
		margin-bottom: 10rem;

		&__navigation-list {
			display: none;
		}
		&__mobile-navham {
			display: block;
			position: fixed;
			z-index: 100;
			right: 0rem;
		}

		&__intro {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 2rem;
			line-height: 2rem;
		}

		&__intro-img {
			height: 25rem;
			align-self: center;
			padding-bottom: 8rem;
		}

		&__intro-photo {
			margin-left: 6rem;
			transform: scale(0.85);
			border: 1px solid $primary-color;
		}
	}

	&__intro {
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		line-height: 4rem;
		// margin-bottom: 10rem;
		height: 30rem;
	}
	&__intro-quote {
		font-size: 2.25rem;
		align-self: center;
	}

	&__intro-name {
		color: $primary-color;
	}

	&__intro-img {
		margin-right: 5rem;
		filter: drop-shadow(10px 5px 4px #888888);
	}

	&__intro-photo {
		height: 100%;
		// background-color: $secondary-color;
		border-radius: 25%;
	}
}

//////////////////////
// About Section ///
.about {
	grid-template-columns: 50% 50%;

	background-color: $secondary-color;
	padding: 3rem 2rem;

	clip-path: polygon(99% 85%, 99% 0%, 0% 0%, 0% 99%);
	display: grid;

	padding-bottom: 10rem;
	&__intro > p {
		font-size: 15px;
		font-weight: 900;
		line-height: 2rem;
		border-bottom: 2px solid $primary-color;
		border-top: 2px solid $primary-color;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__intro > p > span {
		font-size: 1.5rem;
	}
	&__grid {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: center;
		gap: 1rem;
		z-index: 10;
		transition: all 0.2s;
		&-item {
			width: 5rem;
			height: 5rem;
			outline: 0.5px solid $primary-color;
			border-radius: 10%;
			padding: 0.5rem;
			z-index: 20;
			&:hover {
				transform: scale(1.5);
				outline-offset: 0.1rem;
				border-radius: 50%;
			}
		}

		&:hover &-item:not(:hover) {
			transform: scale(0.75);
		}
		@media (max-width: 1300px) {
			padding-top: 3rem;
		}
	}

	@media (max-width: 1300px) {
		display: grid;
		grid-template-columns: auto;
		padding-bottom: 10rem;
		&__intro > p {
			line-height: 1.5rem;
		}
	}
}

// /////////////
// portfolio section

.portfolio {
	position: relative;
	margin-bottom: 3rem;
	&__tag {
		font-size: 2.5rem;
		text-align: center;
		color: $primary-color;
		text-transform: uppercase;
		border-bottom: 3px solid $secondary-color;
		border-radius: 20%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__grid {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: space-evenly;
		// padding: 2rem;
		margin-top: 4rem;
		gap: 2rem;
	}

	&__grid-item {
		height: 20rem;
		width: 20rem;
		border: 3px solid $primary-color;
		border-radius: 5rem;
		transition: all 0.2s;
		padding: 1rem;
		text-align: center;
		line-height: 1.5;
		background-color: $secondary-color;
	}

	&__grid-item:hover {
		transform: scale(1.1);
		border-radius: 0;
	}

	&__img {
		height: 50%;
		border-radius: 3px;

		// padding: 1rem;
	}
	&__desc {
		font-size: 1rem;
		font-weight: 800;
		color: #000;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	a {
		text-decoration: none;
		text-align: center;
	}

	&__grid-srccode {
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 800;
		text-decoration: none;
		align-self: center;
		color: $primary-color;
		transition: all 0.2s;
	}
	&__grid-srccode:hover {
		transform: scale(1.1);

		border: 2px solid $primary-color;
		border-radius: 10px;
	}

	@media (max-width: 768px) {
		&__grid {
			display: grid;
			grid-template-columns: auto;
		}
	}
	@media (max-width: 1000px) and (min-width: 768px) {
		&__grid {
			display: grid;
			grid-template-columns: auto auto;
		}
	}
}

/////////////////////////////
/// Contact section

#contactSec {
	background-color: $secondary-color;
}

.contact-header {
	font-size: 1.2rem;
	text-align: center;
	margin-top: 1.5rem;
	color: $primary-color;
	text-transform: uppercase;
	border-bottom: 3px solid $primary-color;
	border-radius: 20%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contact {
	margin-top: 2.5rem;
	background-color: $secondary-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;

	@media screen and (max-width: 480px) {
		justify-content: center;
	}
	&__Social {
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 3rem;
		height: 3rem;

		transition: all 0.1s;
	}

	&__icon:hover {
		transform: scale(1.2);
	}

	&__link {
		text-decoration: none;
	}
	&__email {
		display: flex;
		align-items: center;
	}

	&__email > p {
		font-size: 1.25rem;
		font-weight: 700;
		border-bottom: 2px solid $primary-color;
		@media screen and (max-width: 480px) {
			display: none;
		}
	}
	@media (max-width: 768px) {
		&__email > p {
			font-size: 0.75rem;
			font-weight: 400;
		}
	}
}
